@use "../base/variables" as *;

.calc {
    color: var(--text-color);
    font-size: toRem(16px);
    border-radius: 15px;
    padding: toRem(30px) toRem(25px);
    background-color: var(--bg-calc);
    max-width: 375px;

    &--flex {
        display: flex;
        flex-flow: row wrap;
        gap: 15px 15px;
    }

    &__total {
        background-color: var(--bg-calc-total);
        border-radius: 10px;
        padding: 2.8125em 1.25em 1.25em; // 45px/16px, 20px/16px, 20px/16px, default font-size of 16px
    }

    &__total-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__total-value {
        font-size: toRem(32px);
        color: var(--value-color);
    }
}