@use "../base/variables" as *;

.calc {
    color: var(--text-color);
    font-size: toRem(16px);
    border-radius: 15px;
    padding: toRem(30px) toRem(25px);
    background-color: var(--bg-calc);
    max-width: 375px;
    box-shadow: 0 10px 15px 4px rgba(0,0,0,0.1);

    &--flex {
        display: flex;
        flex-flow: row wrap;
        gap: 15px 15px;
    }

    &__total {
        background-color: var(--bg-calc-total);
        border-radius: 10px;
        padding: 2.5em 1.25em 1.25em; // 40px/16px, 20px/16px, 20px/16px, default font-size of 16px
    }

    &__total-group {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: toRem(25px);
    }

    &__total-value {
        font-size: toRem(36px);
        color: var(--value-color);
    }
}