@use "../base/variables" as *;

.input-group {
    margin-bottom: toRem(35px);
    position: relative;

    &__icon {
        position: absolute;
        top: 48px;
        left: 20px;
    }
}

.label-container {
    display: flex;
    justify-content: space-between;
}

.label {
    color: var(--label-color);
    margin-bottom: 0.5em; // 8px/16px, default font-size of 16px

    &--small {
        font-size: toRem(14px);
        margin-bottom: 0;
    }

    &--error {
        color: var(--text-error-color);
        display: none;
    }
}

.input {
    display: block;
    width: 100%;
    font-size: toRem(24px);
    background-color: var(--bg-input);
    border: none;
    color: var(--input-color);
    text-align: right;
    padding: 0.5em 0.625em; // 12px/24px, 15px/24px, calc__input font-size of 24px
    border-radius: 5px;
    cursor: pointer;

    // Use :where pseudo class to lower specifity in order for the .input--error utility class styles to be applied
    &:where(:active), &:where(:focus) {
        outline: 2px solid var(--input-outline-color);
    }

    &::placeholder {
        color: var(--input-placeholder-color);
    }

    &--custom {
        flex: 1;
        text-align: center;
        min-width: 120px;
        padding: 0.625em 0; // 15px/24px, calc__input font-size of 24px
    }
}
