@use "../base/variables" as *;

/*! purgecss start ignore */

// Change background color of selected percentage button
.btn--active {
    background-color: var(--bg-btn-active);
}

.reset--active {
    background-color: hsl(172, 67%, 45%);
    color: var(--input-color);
}

/*! purgecss end ignore */