@use "../base/variables" as *;

/*! purgecss start ignore */

// Change background color of selected percentage button
.btn--active {
    background-color: var(--bg-btn-active);
}

.reset--active {
    background-color: hsl(172, 67%, 45%);
    color: var(--input-color);
}

.label--visible {
    display: block;
}

.input--error {
    animation: shake 150ms 2 linear;
    outline-color: var(--input-outline-error-color);
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }
    50% {
        transform: translate(-3px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

/*! purgecss end ignore */