@use "../base/variables" as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    background-color: var(--bg-body);
    font-weight: 700;
    padding: 70px 0;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}

main {
    margin-bottom: toRem(60px);
}