@use "../base/variables" as *;

@media (min-width: 1024px) {
    .calc {
        padding: toRem(30px);
        max-width: 940px;
        display: flex;
        gap: 30px;

        &__total {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 2.5em 2.5em 2.5em; // 40px/16px, 40px/16px, 40px/16px, default font-size of 16px
        }
    }

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: toRem(10px);
    }

    .input-group:last-of-type {
        margin-bottom: 0;
    }

    .btn {

        &:not(&--large):hover {
            background-color: hsla(172, 67%, 45%, .6);
            color: var(--input-color);
        }

        &--large {
            max-height: 50px;
            margin-top: auto;

            &:not([disabled]):hover {
                background-color: hsl(172deg 100% 84% / 76%);
            }
        }
    }
}