@use "../base/variables" as *;

@media (min-width: 1024px) {
    .calc {
        padding: toRem(30px);
        max-width: 940px;
        display: flex;
        gap: 30px;

        .calc__total {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 4.375em 2.5em 2.5em; // 70px/16px, 40px/16px, 40px/16px, default font-size of 16px
        }
    }

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: toRem(10px);
    }

    .input-group:last-of-type {
        margin-bottom: 0;
    }

    .btn--large {
        max-height: 50px;
        margin-top: auto;
    }
}